# .gitignore file, based on `A collection of .gitignore templates` https://github.com/github/gitignore

# DB related config files
appsettings.json

# IDE-FIles
.vscode/
.ionide/

# Execution
bin/
obj/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
